daemon off;

error_log stderr warn;

pid /tmp/nginx.pid;
worker_processes $NGINX_WORKER_PROCESSES;

events {
  worker_connections 4096;
}

http {
  access_log $NGINX_ACCESS_LOG;
  sendfile on;
  charset utf-8;

  include /etc/nginx/mime.types;
  include /etc/nginx/fastcgi.conf;

  default_type application/octet-stream;

  tcp_nopush on;

  client_body_temp_path /tmp/client_body 1 2;
  fastcgi_temp_path /tmp/fastcgi_temp 1 2;
  proxy_temp_path /tmp/proxy_temp 1 2;
  scgi_temp_path /tmp/scgi_temp 1 2;
  uwsgi_temp_path /tmp/uwsgi_temp 1 2;

  client_max_body_size $NGINX_MAX_BODY_SIZE;
  client_body_buffer_size 100K;
  client_header_buffer_size 5K;
  client_body_timeout $NGINX_BODY_TIMEOUT;
  client_header_timeout $NGINX_HEADER_TIMEOUT;

  include /etc/nginx/host.conf;
}